[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch FileManager %u
Icon=org.xfce.filemanager
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=inode/directory;x-scheme-handler/trash;
X-AppStream-Ignore=True
Name=File Manager
Name[pl]=Menedżer plików
Comment=Browse the file system
Comment[pl]=Przegląda system plików za pomocą menedżera plików
X-XFCE-Source=file:///nix/store/rsmq536f9hkyws2wsc9ky6q59rmw6lsv-xfce4-settings-4.18.6/share/applications/xfce4-file-manager.desktop
